.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.*
*.tfplan
*.log
*.sarif
*.spdx.json
terraform-schema.json
.idea/
.vscode/
Thumbs.db
Desktop.ini

docs/*
PulseGuard_v2_AIOps_Project_Description.md
PulseGuard_v2_AIOps_Project_Description.pdf
PHASE_*.md

**/__pycache__/*

