tempo:
  retention: 168h
  metricsGenerator:
    enabled: true
  storage:
    trace:
      backend: local
      local:
        path: /var/tempo/traces
  receivers:
    otlp:
      protocols:
        grpc: {}
        http: {}

persistence:
  enabled: true
  storageClassName: standard-rwo
  size: ${tempo_storage_size}

serviceMonitor:
  enabled: true
  labels:
    release: kube-prometheus-stack
