project_id                    = "my-gcp-project-id"
region                        = "us-central1"
cluster_name                  = "pulseguard-dev"
network                       = "pulseguard-vpc"
subnetwork                    = "pulseguard-gke-subnet"
cluster_secondary_range_name  = "gke-pods"
services_secondary_range_name = "gke-services"
environment                   = "dev"
owner                         = "platform"
